/*  Inicio Fontes 
**********************/
@font-face /*  MyriadPro Bold */ {
    font-family: MyriadPro Bold
    ;
    src: url(Fontes/MYRIADPRO-BOLD-4307264.woff);
}
@font-face /*  MyriadPro Regular*/{
    font-family: MyriadPro Regular
    ;
    src: url(Fontes/MYRIADPRO-REGULAR-4307235.woff);
}
@font-face /*   AvantGard-Bold */{
    font-family: AvantGard-Bold
    ;
    src: url(Fontes/AvantGarde-Bold-7171274.woff);
}
@font-face /*  AvantGard-Regular */{
    font-family: AvantGard-Regular
    ;
    src: url(Fontes/AvantGarde-Regular-7171185.woff);
}
@font-face /*  texHero*/{
    font-family: texHero
    ;
    src: url(Fontes/texhero-4307302.woff);
}
@font-face /* centranume*/{
    font-family: centranume
    ;
    src: url(Fontes/centranube-medium-webfont-7171119.woff);
}
@font-face /* frank-ruhl-libre */{
    font-family: frank-ruhl-libre
    ;
    src: url(Fontes/frank-ruhl-libre-v12-latin-regular.woff);
}
/*  Fim Fontes 
**********************/
body{
    max-width: 100%;
    overflow-x: hidden;
    background-color: #1A1C20;
}
    .navbar-toggler-icon {
        color: #fff;
    }

/*  inicio navbar 
**********************/
header nav {
    background-color: #15171A;
}
header nav img {
    max-width: 13vh;
}


header li a{
    font-size: 3vh;
    font-family: MyriadPro Bold;
    text-decoration: none;
    color: #fff;
    margin: 2vh;
}
header li a:hover{
    color: #C3B491;
}
header li .btn {
    padding: 2vh;
    border-radius: 0; 
    background-color: #6A013C;
}
header li .btn:hover{
    background-color: #740045;
    color: #fff;
}
/*  fim navbar 
**********************/

/*  INICIO OVINHO 
**********************/
#oVinho {
    margin-top: 200px;
    align-items: center;
    text-align: center;
    background-image: url(img/video-capa.mp4);
}
h1 {
    color: #fff;
    font-family: frank-ruhl-libre;
    margin: -1vh;
    font-size: 9vh;
    font-weight:600;
}
#oVinho .conteudo p {
    font-family:MyriadPro Regular;
    text-transform: uppercase;
    color: #C2B390;
    font-size: 2vh;
    letter-spacing: 0.8vh;
}
.text p {
    color: rgb(173, 165, 165);
    font-size: 2.5vh;
}
/*  FIM OVINHO 
**********************/

/*  INICIO HexVonWein 
**********************/
#HexVonWein {
    margin-top: 150px;
    align-items: center;
    text-align: center;
    
}
#HexVonWein .conteudo p {
    font-family:MyriadPro Regular;
    text-transform: uppercase;
    color: #C2B390;
    font-size: 2vh;
    letter-spacing: 0.8vh;
}
/*  FIM HexVonWein 
**********************/
/*  INICIO ASbruxas 
**********************/
#AsBruxas {
    background-color: #181B1E;
}
.img img {
    width:80%;
}
div .row {
    margin-top: 30px;
    text-align: center;
}
div .row p {
    color: rgb(173, 165, 165);
    font-size: 2.5vh;
    padding-left: 10vh;
    padding-right: 10vh;
}
 .col-lg-6 img {
    width: 50%;
 }
/*  FIM ASbruxas 
**********************/
/*  INCIO A Vinícola 
**********************/
#Vinícola {
    margin-top: 60px;
    align-items: center;
    text-align: center;
}
#Vinícola .conteudo p {
    font-family:MyriadPro Regular;
    text-transform: uppercase;
    color: #C2B390;
    font-size: 2vh;
    letter-spacing: 0.8vh;
}
#text-40 {
    display: inline-block;
    width: 40%;
}
.bg-violet {
    background-color: #5C0037;
}
@media (min-width: 900px) {
    .bg-violet p {
        padding-top: 13vh !important;
    }
}
.bg-violet p {
    font-family: MyriadPro Regular !important ;
    color: rgb(255, 255, 255) !important;
    padding-top: 5vh;
    z-index: 0;
    position: relative;
    
}
.colheita img{
    position: relative;
    z-index: -1;
    margin-left: -3vh;
    width: 105%;
    height: auto;
}
.padding-top-2{
    margin-top: -5vh;
}
/*  FIM A Vinícola 
**********************/


/*  INICIO singular 
**********************/
#singular {
    margin-top: 5vh;
    align-items: center;
    text-align: center;
    
}
#singular .conteudo p {
    font-family:MyriadPro Regular;
    text-transform: uppercase;
    color: #C2B390;
    font-size: 2vh;
    letter-spacing: 0.8vh;
}
.text p {
    color: rgb(173, 165, 165);
    font-size: 2.5vh;
}
/*  FIM singular */ 
/*  INICIO produtos */ 
#produtos {
    background-color: #000000;
    padding-bottom: 5vh;
}
#produtos h1 {
    background-color: #000000;
    color: #fff;
    font-family: frank-ruhl-libre;
    margin: 1vh;
    font-size: 4.56vh ;
    font-weight:600  ;
}
div .img-vinhos {
    width: 100vh;
}
#produtos a{
    font-size: 3vh;
    font-family: MyriadPro Bold;
    text-decoration: none;
    color: #fff;
    margin: 2vh;
}
#produtos a:hover{
    color: #C3B491;
}
#produtos .btn {
    padding: 2vh;   
    border-radius: 0;
    background-color: #6A013C;
}
#produtos .btn:hover{
    background-color: #740045;
    color: #fff;
}
#produtos div .col-lg-6 {
    display: inline;
    justify-content: center;
    text-align: center;
}
.col-lg-6 img {
    margin-left: -5vh;
    overflow: hidden;
    max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
#produtos .col-lg-6 img:hover {
    margin-top: 5vh;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.text-item {
    position: relative;
	z-index: 10;	
}
/*  FIM produtos */ 

/*  INICIO lebals */ 
#lebals {
    background-color: #fff;
}

#lebals img {
    width: 100%;
}
/*  FIM lebals */ 

/*  INCICIO contato */ 
#contato{
    padding-top: 5vh;
    align-items: center;
    text-align: center;
}
#contato .conteudo p {
    font-family:MyriadPro Regular;
    text-transform: uppercase;
    color: #C2B390;
    font-size: 2vh;
    letter-spacing: 0.8vh;
} 
/*  FIM contato */ 


/*  INCICIO footer */
footer {
    padding-top: 10vh;
    background-color: #1A1C20;
}
footer  h1 {
    font-size: 3vh  !important;
    padding: 1vh;
}
footer p {
    text-align: center;
    color: #fff;
    font-size: 2vh;
}
/*  FIM footer */ 

/*  INICIO desenvolvimento */ 
#desenvolvimento {
    margin-top: 20vh;
    align-items: center;
    text-align: center;
}

#desenvolvimento .conteudo p {
    font-family:MyriadPro Regular;
    text-transform: uppercase;
    color: #C2B390;
    font-size: 2vh;
    letter-spacing: 0.8vh;
}

.botão a {
    display: inline-block;
    font-size: 3vh;
    font-family: MyriadPro Bold;
    text-decoration: none;
    color: #fff;
    margin: 2vh;
    margin-bottom: 10vh;
    color: #fff;
    text-decoration: none;
    padding: 2vh;
    border-radius: 0; 
    background-color: #6A013C;
}
/*  FIM desenvolvimento */ 

@media (max-width:768px) {
    h1 {
        font-size: 5vh;
    }
    header nav img {
        max-width: 8vh;
    }
    
    button i {
        font-size: 4.5vh;
    }
    #nav-principal a {
        font-size: 2.5vh;
    }
}